@import "tailwindcss";
 

body {
  background-color: var(--bg-color);
}

.hide-scrollbar-x {
  overflow-x: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
}

.animation_search {
  transition: height 0ms 0ms, opacity 400ms 0ms;
}

.hide-scrollbar-x::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

@layer base {
  :root {
    /* COLORS */
    --primary-color: #C2F970;
    /* --accent-color: #E4E3F6;
    --error-color: #FF7F81; */
    --bg-color: #0A0908;
    /* --search-color: #F0EEF7;
    --add-btn: #4D55CC;
    --box-color : #fff; */
}
}
@theme inline {
  --animate-aurora: aurora 60s linear infinite;
  @keyframes aurora {
    from {
      background-position:
        50% 50%,
        50% 50%;
    }
    to {
      background-position:
        350% 50%,
        350% 50%;
    }
  }
}